.container {
    width: 1780px;
    width: 100%;
    margin: 0 auto;
    /* padding: 0 20px; */
    /* background-color:bisque; */
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.main-header {
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 999;
    top: 0;
    justify-content: space-between;
    align-items: center;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.main-nav {

    display: flex;
    flex-grow: 1;
    justify-content:center;
}
.menu-list {
    list-style: none;
    display: flex;
}
.menu-list-item {
    margin: 37px;
    font-size: 22px;
    color: #1C4961;
}
.connect-button-link  {
    padding: 6px 20px ;
    font-size: 19px;
    font-weight: normal;
    font-family: 'Proxima Nova Alt';
    color: #ffffff;
    line-height: 16px;
    text-align: center;
    background-color: #4468E2;
    border-radius: 20px;
    display: flex;
}

.cover {
    /* max-width: 1780px; */
    width: 100%;
    position: relative;
    margin-top: 95px;

}
.cover img {
    width: 100%;
}
.absolute-cover {
   
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0,0, 0.3);
}
.text-cover {
    max-width: 522px;
    width: 100%;
    height: 98px;
    overflow: hidden;
    line-height: 33px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Proxima Nova Alt';
    font-size: 22px;
    color: #ffffff;
    text-align: center;
}
.title-cover {
    max-width: 876px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left:  50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.travel {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Montserat';
    text-transform: uppercase;
}
.check-box-boxes h4 {
    font-family: 'Proxima Nova Alt';
    font-size: 20px;
    font-weight:700;
}

.explore {
    color: #ffffff ;
    font-size: 21px;
    font-family: 'Proxima Nova Alt';
    background-color:#4468E2 ;
    border-radius: 15px;
    padding: 15px 35px;
}
.block {
    /* width: 100%;
    max-width: 876px; */
    height: 89px;
    padding: 13px 13px;
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    opacity: 0.8;
    display: flex;
    align-items: center;
}


/* SECTION INFORMATION */

.section-info {
    width: 100%;
    margin-top: 178px;
    margin-bottom: 178.5px;
    padding-top: 29px;
    /* background-color: rgba(0, 0, 0, 0.2); */
    /* height: 293.40px; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.box-info{
    max-width: 369px;
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    padding:0 26px;
    box-shadow: 10px 40px 50px #E5E9F6;
}
.box-info h5 {
    font-size: 24px;
    font-family: 'Proxima Nova Alt';
    font-weight: 700;
    line-height: 32px;
    color: #0F0F0F;
    margin-bottom: 19px;
}
.box-info p {
    font-size: 20px;
    line-height: 27px;
    color: #0F0F0F;
}


.box-logos {
    width: 103px;
    height: 97px;
    margin-bottom: 11px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/* SECTION DESTINATIONS */
.destinations {
    background-color: #F1FAFF;
    padding-bottom: 91.5px;
    padding-top: 58px;

    /* background-color: #163235; */
}

.section-title {
    font-size: 40px;
    color: #000;
    font-weight: bold;
    font-family: 'Proxima Nova Alt';
    /* line-height: 53px; */
    text-align: center;
    margin-bottom: 79px;
}
.menu-box {
    max-width: 1201.5px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu {
    /* display: flex; */
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    max-width: 1201.5px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 64.5px;
}
.menu li {
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0.33px;
    color: #000;

}
.tours {
    flex-wrap: wrap;
}
.tour-box {
    max-width: 552px;
    width: 30%;
    margin-left: 20px;
}
.tour-box:hover{
    background-color: rgb(252, 251, 255, 1);
    /* background: transparent; */
    transition: 0.4s;
    opacity: 0.5;
    /* width: 100%; */
    /* position: absolute; */
    /* left: 0;
    top: 0; */
}
.icons-price {
    display: flex;
    justify-content: space-between;
}

.tour-box img {
    width: 100%;
}
.tour-box h2 {
    font-size: 38px;
    line-height: 51px;
    font-weight: 600;
    font-family: 'Proxima Nova Alt';
    color: #163235;
    margin: 11px 0 14px;
}
.tour-box p {
    font-size: 26px;
    line-height: 35px;
    color: #163235;
    max-width: 552px;
    /* width: 100%; */
    height: 66px;
    overflow: hidden;
    letter-spacing: -0.2px;
}
.icons-main-box {
    max-width: 125px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.icons-box {
    background-color: #1C4961;
    width: 33px;
    height: 33px;
    /* height: 33px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.icon3 {
    max-width: 21.82px;
    width: 100%;
}
.icon2 {
    max-width: 22.81px;
    width: 100%;
}
.icon1 {
    max-width: 17.06px;
    width: 100%;
}
.icons-price {
    margin: 18px  0 19px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.price {
    font-size: 31px;
    line-height: 37px;
    font-weight: 600;
    font-family: 'Proxima Nova Alt';
}
.kms-night {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.kms {
    text-align: left;
    font-size: 22px;
    color: #163235;
}
.night {
    text-align: right;
    font-size: 22px;
    color: #163235;
}
/* SECTION BLOGS */

.blogs {
    max-width: 1780px;
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    color: black;
    line-height: 48px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 172.5px;
    align-items: center;
    
}

.main-guide-boxes {
    max-width: 1780px;
    width: 100%;
    display: flex;

    align-items: center;
    margin-top: 73px;
    display: flex;
    flex-wrap: nowrap ;
    flex-direction: row;


}
.left-guide-box img {
    width: 100%;
    height: 100%;
}

.guide-boxes img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.left-guide-box {
    max-width: 965px;
    width: 122%;
    overflow: hidden;
    position: relative;

}
.right-guide-box {
    max-width: 785px;
    width: 100%;
    height: 100%;

}
.guide-boxes {
    max-width: 785px;
    width: 100%;
    position: relative;
}


.absolute-cover-title {

   /* background-color: #000; */
    /* width: 100%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.kili-text{
    font-size: 50px;
    color: #ffffff;
    line-height: 61px;
    font-family: 'Proxima Nova Alt';
    font-weight: bold;

   
}
.travel-text {
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Proxima Nova Alt';

}
.absolute-cover2 {
   
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* background-color: rgba(0, 0,0, 0.3); */
}
.happy-customers h5 {
    font-weight: bold;
    font-family: 'Proxima Nova Alt';
    font-size: 40px;
    text-align: center;
    color: black;
}
.happy {
    width: 100%;
    margin-top: 172px;
    margin-bottom: 250px;

}
.main-customers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 65.7px;
    margin-top: 73px;
}
.customer-text {
    max-width: 712px;
    width: 50%;
}
.cust-text {
    font-family: 'Proxima Nova Alt';
    font-size: 26px;
    line-height: 41px;
    overflow: hidden;
    font-weight: 400;
    margin-bottom: 31.3px;
    height: 170px;
}
.customer-img {
    width: 70px;
    height: 70px;
    display: flex;
    margin-right: 26px;
}
.customer-img image {
    width: 100%;
}
.image-name {
    display: flex;
    justify-content: start;
}
.name {
    max-width: 284px;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    /* justify-content: right; */
}
.name h5 {
    font-size: 28px;
    color: #000;
    text-align: left;
    font-family: 'Proxima Nova Alt';
}
.customer-position {
    color: #848484;
    font-size: 28px;
    line-height: 38px;
}

footer {
    background-color: #E1E8F8;
    width: 100%;
    
}
.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon {
    width: 44px;
    height: 44px;
}
.icon img {
    width: 100%;
}
.footer-container {
    padding: 0 29.5px 0 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon:nth-child(2) {
    margin-left: 27px;
    margin-right: 27px;
}

.icon:nth-child(3) {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;

}
.instagram2 {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.instagram3 {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
@media (max-width: 1600px) {
    .left-guide-box {
        max-width: 855px;
        width: 122%;
        overflow: hidden;
    }
    .guide-boxes:nth-child(2) {
        max-width: 700px;
        width: 100%;
    }


}
@media (max-width: 1536px) {
    .left-guide-box {
        max-width: 855px;
        width: 122%;
        overflow: hidden;
    }
    .guide-boxes:nth-child(2) {
        max-width: 700px;
        width: 100%;
    }
    .kili-text {
        font-size: 40px;
        color: #ffffff;
        line-height: 61px;
        font-family: 'Proxima Nova Alt';
        font-weight: bold;
    }
    .travel-text {
        color: #ffffff;
        font-size: 27px;
        font-weight: bold;
        font-family: 'Proxima Nova Alt';
    }
    .box-info {
        padding: 10px 26px;;
    }
    .main-customers {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 20px;
        padding-top: 65.7px;
        margin-top: 73px;
    }
}

@media (max-width: 1440px) {
    .travel {
        color: #ffffff;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        font-family: 'Montserat';
        text-transform: uppercase;
    }
    .block {
        /* width: 100%;
        max-width: 876px; */
        height: 70px;
        padding: 20px 13px;
        margin-top: 39px;
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        border-radius: 10px;
        opacity: 0.8;
        display: flex;
        align-items: center;
    }
    .explore {
        color: #ffffff ;
        font-size: 21px;
        font-family: 'Proxima Nova Alt';
        background-color:#4468E2 ;
        border-radius: 15px;
        padding: 10px 30px;

    }
    
    .left-guide-box {
        max-width: 855px;
        width: 122%;
        overflow: hidden;
    }
    .guide-boxes:nth-child(2) {
        max-width: 630px;
        width: 100%;
    }
    .kili-text {
        font-size: 40px;
        color: #ffffff;
        line-height: 61px;
        font-family: 'Proxima Nova Alt';
        font-weight: bold;
    }
    .travel-text {
        color: #ffffff;
        font-size: 27px;
        font-weight: bold;
        font-family: 'Proxima Nova Alt';
    }
    .box-info {
        max-width: 340px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 16px;
        box-shadow: 10px 40px 50px #e5e9f6;
    }
    .tour-box h2 {
        font-size: 32px;
    }
    .tour-box p {
        font-size: 22px;
        line-height: 35px;
        color: #163235;
        max-width: 552px;
        /* width: 100%; */
        height: 66px;
        overflow: hidden;
        letter-spacing: -0.2px;
    }
    .price {
        font-size: 26px ;
    }
    .main-customers {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 20px;
        padding-top: 65.7px;
        margin-top: 73px;
    }

}
/* 
@media (max-width: 1366px) {
    .left-guide-box {
        max-width: 735px;
        width: 100%;
        overflow: hidden;
    }
    .guide-boxes:nth-child(2) {
        max-width: 600px;
        width: 100%;
    }
    .kili-text {
        font-size: 40px;
        color: #ffffff;
        line-height: 61px;
        font-family: 'Proxima Nova Alt';
        font-weight: bold;
    }
    .travel-text {
        color: #ffffff;
        font-size: 27px;
        font-weight: bold;
        font-family: 'Proxima Nova Alt';
    }
    .box-info {
        max-width: 340px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 26px;
        box-shadow: 5px 15px 20px #e5e9f6;
    }
    .tour-box h2 {
        font-size: 30px;
        line-height: 51px;
        font-weight: 600;
        font-family: 'Proxima Nova Alt';
        color: #163235;
        margin: 11px 0 14px;
    }
    .price {
        font-size: 26px;
        line-height: 37px;
        font-weight: 600;
        font-family: 'Proxima Nova Alt';
    }
    .main-customers {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 65.7px;
        margin-top: 73px;
    }
    .customer-text {
        max-width: 612px;
        width: 70%;
    }

} */


@media (max-width: 1024px) {
    .menu-list-item {
        margin: 10px;
    }
}
